*{
    text-align: center;
}

.actionsButton{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.actionsGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card{
    height: 200px;
}