@import '~@angular/material/theming';
// Define a custom mixin that takes in the current theme
@mixin filter-component-theme($theme) {
  // Parse the theme and create variables for each color in the pallete
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  
  //$backgroundb: map-get($background, background);
  // Create theme specfic styles

  .button {
    background-color: mat-color($primary);
  }

  .selected{
    background-color: mat-color($accent);
    }
}