



<div class="appContainer">
<app-header></app-header>

<div class="RouterOutlet">
    <router-outlet></router-outlet>    
</div>
</div>

<!--
<filtered-list [filter]="myFilter" [pageSizes]="pageSizes" (output)="nextPage($event)">

</filtered-list>

<my-index></my-index>

<ng-template #aTemplate let-text="value">
   <p class="text"> {{text}} </p> 
</ng-template>

<ng-template #anotherTemplate let-item="item">
    <tweet-user-pair [pair]="item"></tweet-user-pair>
</ng-template>

<my-tree [template]="aTemplate" [tree]="myTree"></my-tree>

<list [template]="anotherTemplate" [list]="aPairList"></list>


<ng-template #dtreeTemplate let-val="nodeVal">
    {{val}}
</ng-template>

<dyncamic-tree [template]="dtreeTemplate" [tree]="dTree"></dyncamic-tree>

-->