<!--
  <div class="groupContainer">
    <mat-button-toggle-group  [value]="filter.filters[filter.default]" (change)="onClick(group.value)" #group="matButtonToggleGroup" class="container">
        <ng-container *ngFor="let entry of filter.filters" >
            <mat-button-toggle    [value]="entry">
                {{entry.name}}
            </mat-button-toggle> 
        </ng-container>
    </mat-button-toggle-group>
</div>
    
-->

<mat-button-toggle-group  [value]="items[startIndex]" #group="matButtonToggleGroup" (change)="onChange(group.value)" >
  <ng-container *ngFor="let item of items" >
      <mat-button-toggle    [value]="item">
          {{ item[displayProperty] }}
      </mat-button-toggle> 
  </ng-container>
</mat-button-toggle-group>
